
html, body, section, article, h1, h2, p, div, header {
  margin: 0px;
  border: 1px solid red;
  padding: 0px;
  font-family: sans-serif;
}
.header-container {
  display: flex;
  justify-content: space-between;
}


.login-form-container {
  background-color: blue;
  display: flex;
  justify-content: center;
  color: white;
}
