
html, body, section, article, h1, h2, p, div, header, a {
  margin: 0px;
  /*border: 1px solid red;*/
  padding: 0px;
  /*font-family: sans-serif;*/
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode",Sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #203349;
  align-items: center;
  border-radius: 2px;
  height: 75px;
}
.welcome-name, .logout-button-itself {
  padding: 5px;
}

.logout-button-itself {

}

.welcome-name {
  color: white;
  font-size: 14px;
  text-align: center;
  margin:  auto;
}

.box {
  /*border: 1px solid red;*/
}
.home-box {
  display: flex;
  /*position: relative;*/
}
.sidebar-box {
  position: absolute;
  /*top: -250px;*/
  right: 0;
  /* height: 100%; */
  top: 75px;
  bottom: 0;
  left: 0;
  width: 175px;
  /* background: #ccc; */
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.main-panel-box {
  position: absolute;
  top: 75px;
  left: 200px;
}

.login-link, .signup-link {
  color: white;
}

.login-form-box {
  /*background-color: blue;*/
  display: flex;
  justify-content: center;
  color: black;
  width: 100%;
}
.login-form-itself {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #FFFAF0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 30px 30px;
  /* display: flex; */
  /* flex-direction: column; */
}

.login-form-inputs-box {
  display: flex;
  flex-direction: column;

}

.login-input {
  float: right;
  width: 300px;
  height: 25px;
  border-radius: 3px;
  margin-bottom: 20px;
  /*margin: 10px;*/
}

.hiw-text {
  padding: 10px;
  font-size: 14px;
  text-align: center;
}


.login-submit {
  padding:5px;
  border:2px solid #ccc;
  border-radius: 3px;
  background-color: #d95347;

  font-family: "Source Sans Pro", "Lucida Grande", Arial, Verdana, sans-serif;
  font-size: 1em;
}

.login-submit:hover {
  cursor: pointer;
  font-weight: bold;

}

.logo {
  width: 100px;
}

.logout-button-container, .login-signup {
  padding: 20px;
  display: flex;
}

.login-signup {
  height: 75px;
}

.login-box {
  display: flex;
  padding: 0 10px;
  align-items: center;
  color: white;
  height: 75px;
}
.login-box:hover {
  cursor: pointer;
  background-color: #1f4360;
}

.logout-button-container {
    display: flex;
}

.how-it-works-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hiw-block {
  display: flex;
  flex-direction: column;
  width: 275px;
}

.guest-login {
  padding-top: 10px;
}
.guest-login:hover {
  cursor: pointer;
  font-weight: bold;
}

.group-sidebar-item {
  padding: 5px 20px;
  list-style: none;
  /* background-color: #e9eff4; */
}
.poll-item-box {
  padding: 10px 25px;
  background-color: #e9eff4;
}
.poll-item-box:hover {
  cursor: pointer;
  background-color: #d8e3ec
}
.poll-item-title {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #203349;
}
.poll-detail-box{

}
.poll-item-button-box {
  display: flex;
  justify-content: space-between;
}
.group-item-title {
  /* color: #203349; */
  background: #ccdce8;
  padding: 20px;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.group-item-box {
  /* margin-bottom: 10px; */
  margin-top: 20px;
}

.group-item-title:hover {
  cursor: pointer;
  background-color: #bad0e0;
}
.new-poll-form-itself {
  display: flex;
  flex-direction: column;
}

.new-poll-form-box {
  width: 250px;
}

.sidebar-list-item {
  padding: 10px;
  background-color: #e9eff4;
  border-radius: 5px;
}
.sidebar-list-item:hover {
  cursor: pointer;
  background-color: #ccdce8;
}

.new-poll-button {
  background-color: #d95347;
  box-shadow: none;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  display: inline-block;
  font-style: normal;
}
.new-poll-button:hover {
  cursor: pointer;
  font-style: italic;
}

.main-panel-box em {
  background-color: #ccdce8;
  padding: 5px 20px;
  margin: 0;
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #aaa;
  font-size: 12px;
}
.main-panel-box em:hover {
  background-color: #bad0e0;
  cursor: pointer;
  color: black;
}

.add-group-sidebar-button {
  background-color: #ccdce8;
  padding: 10px 20px;
  margin: 5px 20px;
  border-radius: 3px;
  color: #aaa;
  font-size: 12px;
  border: none;
  width: 130px;
  font-weight: bold;
}
.add-group-sidebar-button:hover {
  background-color: #bad0e0;
  cursor: pointer;
  color: black;
}

.group-item-button-box {
  display: flex;
  justify-content: flex-end;
}
.fa-pencil-square-o {
  width: 20px;
}

.group-title-and-edit {
  display: flex;
}
