
html, body, section, article, h1, h2, p, div, header, a {
  margin: 0px;
  /*border: 1px solid red;*/
  padding: 0px;
  /*font-family: sans-serif;*/
  font-family: 'Roboto', sans-serif;
  /* align-items: center; */
  /* height: 100%; */
}

body {
  font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode",Sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #203349;
  align-items: center;
  border-radius: 2px;
  height: 75px;
}
.welcome-name, .logout-button-itself {
  padding: 5px;
}

.logout-button-itself {

}

.welcome-name {
  color: white;
  font-size: 14px;
  text-align: center;
  margin:  auto;
}

.box {
  /*border: 1px solid red;*/
}
.home-box {
  display: flex;
  /*position: relative;*/
}
.sidebar-box {
  position: absolute;
  right: 0;
  top: 75px;
  bottom: 0;
  left: 0;
  width: 175px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.main-panel-box {
  position: absolute;
  top: 75px;
  left: 200px;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

.login-link, .signup-link {
  color: white;
}

.login-form-box {
  display: flex;
  justify-content: center;
  color: #203349;
}
.login-form-itself {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #FFFAF0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 30px 30px;
  /* display: flex; */
  /* flex-direction: column; */
}

.login-form-inputs-box {
  display: flex;
  flex-direction: column;

}

.login-input {
  float: right;
  width: 300px;
  height: 25px;
  border-radius: 3px;
  margin-bottom: 20px;
  /*margin: 10px;*/
}

.hiw-text {
  padding: 10px;
  font-size: 14px;
  text-align: center;
  color: #203349;
  font-weight: bold;
}


.login-submit {
  padding:5px;
  border:2px solid #ccc;
  border-radius: 3px;
  background-color: #d95347;

  font-family: "Source Sans Pro", "Lucida Grande", Arial, Verdana, sans-serif;
  font-size: 1em;
}

.login-submit:hover {
  cursor: pointer;
  font-weight: bold;

}

.logo {
  width: 60px;
  margin-top: 5px;
  margin-left: 20px;
}

.logout-button-container, .login-signup {
  padding: 20px;
  display: flex;
}

.login-signup {
  height: 75px;
}

.login-box {
  display: flex;
  padding: 0 10px;
  align-items: center;
  color: white;
  height: 75px;
}
.login-box:hover {
  cursor: pointer;
  background-color: #1f4360;
}

.logout-button-container {
    display: flex;
}

.how-it-works-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.hiw-block {
  display: flex;
  flex-direction: column;
  width: 275px;
}

.guest-login {
  padding: 10px 20px;
  background-color: #ccdce8;
  border-radius: 3px;
  width: 150px;
  text-align: center;
  border: 1px solid #203349;
  margin: 10px;
  font-weight: bold;
}
.guest-login:hover {
  cursor: pointer;
  font-weight: bold;
  cursor: pointer;
  background-color: #bad0e0;
}

.group-sidebar-item {
  padding: 5px 20px;
  list-style: none;
  /* background-color: #e9eff4; */
}
.poll-item-box {
  /* padding: 10px 25px; */
  background-color: #e9eff4;
}
.poll-item-box:hover {
  /*cursor: pointer;*/
  background-color: #d8e3ec
}
.poll-item-title {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #203349;
  align-items: center;
}
.poll-detail-box{

}
.poll-item-button-box {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
.group-item-title {
  /* color: #203349; */
  background: #ccdce8;
  padding: 20px;
  /* font-weight: bold; */
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  /* align-items: center; */
}

.group-item-box {
  /* margin-bottom: 10px; */
  margin-top: 20px;
}

/*.group-item-title:hover {
  cursor: pointer;
  background-color: #bad0e0;
}*/
.new-poll-form-itself {
  display: flex;
  flex-direction: column;
}

.new-poll-form-box {
  width: 250px;
}

.sidebar-list-item {
  padding: 10px;
  background-color: #e9eff4;
  border-radius: 5px;
}
.sidebar-list-item:hover {
  cursor: pointer;
  background-color: #ccdce8;
}

.new-poll-button {
  background-color: #d95347;
  box-shadow: none;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  display: inline-block;
  font-style: normal;
}
.new-poll-button:hover {
  cursor: pointer;
  font-style: italic;
}

.main-panel-box em {
  background-color: #ccdce8;
  padding: 5px 20px;
  margin: 0;
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #aaa;
  font-size: 12px;
}
.main-panel-box em:hover {
  background-color: #bad0e0;
  cursor: pointer;
  color: black;
}

.add-group-sidebar-button {
  background-color: #ccdce8;
  padding: 10px 20px;
  margin: 5px 20px;
  border-radius: 3px;
  color: #aaa;
  font-size: 12px;
  border: none;
  width: 130px;
  font-weight: bold;
}
.add-group-sidebar-button:hover {
  background-color: #bad0e0;
  cursor: pointer;
  color: black;
}

.group-item-button-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.fa-pencil-square-o {
  width: 20px;
}

.group-title-and-edit {
  display: flex;
  font-weight: bold;
  align-items: center;
}

.fa {
  padding: 5px;
  display: flex;
}

.fa:hover {
  font-weight: bold;
  cursor: pointer;
}

.poll-form-label {
  padding: 10px;
  font-weight: bold;
  color: #203349;
}

.poll-form-input {margin: 5px 5px 10px 5px;padding: 5px;}

.poll-form-add-answer {
  font-size: 12px;
  padding: 5px 10px;
  background-color: #203349;
  color: white;
  width: 120px;
  border-radius: 3px;
  margin: 5px;
}

.poll-submit-button, .vote-form-submit {
  background-color: #255073;
  border: none;
  padding: 5px 10px;
  margin: 20px 0 0 5px;
  border-radius: 3px;
  color: white;
}

.fa-text {
  font-family: sans-serif;
  white-space: nowrap;
}
.fa-text:hover {
  font-weight: bold;
  cursor: pointer;
}
.poll-item-button-sub-box {
  display: flex;
  align-items: center;
}
.poll-item-button-sub-box:hover {
  font-weight: bold;
  cursor: pointer;
}

.sidebar-box em:hover {
  padding: 9px 19px;
  border: 1px solid red;
}
.add-group-sidebar-form {margin: 20px;}
.add-group-sidebar-submit {border: none;background-color: #255073;color: white;font-size: 12px;padding: 5px 10px;border-radius: 3px;}
.add-group-sidebar-input {margin: 0 0 10px;width: 127px;}

.live {
  color: darkorange;
}

.vote-form-box {display: flex;align-items: center;height: 100%;flex-direction: column;}

.vote-form-itself {
  width: 400px;
  display: flex;
  flex-direction: column;
  /* margin-top: 40px; */
  padding: 20px;
  background-color: #ccdce8;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 1px 1px 1px #888888;
}

.vote-form-radio {

}

.vote-form-input-box {padding: 15px;font-size: 20px;font-weight: bold;display: flex;align-items: center;}
.vote-form-input-box:hover {
  font-style: italic;
  cursor: pointer;
  background-color: #e9eff4;
  border-radius: 3px;
}
.vote-form-submit {width: 200px;padding: 20px;font-size: 18px;font-weight: bold;}
.vote-form-submit:hover {
  font-style: italic;
  cursor: pointer;
  padding: 19px;
  border: 1px solid blue;
  text-decoration: underline;
}
.vote-form-question {
  display: block;
  width: 400px;
  background-color: #bad0e0;
  padding: 20px;
  margin-top: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 1px 1px 0 #888888;
}

input[type=radio]{
  height: 20px;
  width: 20px;
  display: block;
  margin: 10px;
}

.poll_item_clickable {padding: 20px;width: 100%;}
.completed-poll-box {

}
.successfully-submitted-notification {

}

.chart-link-box {width: 100%;text-align: center;padding-bottom: 10px;}

.chart_div {

}
.chart-link-itself {
  text-decoration: none;
  color: #203349;
}

.my-pretty-chart-container {
  padding: 10px;
}

.poll-form-modal-close {display: flex;justify-content: flex-end;}
.group-item-edit-input{
  border: none;background-color: #255073;color: white;font-size: 12px;padding: 3px 10px;border-radius: 3px;
}

.poll_item_clickable:hover {
  cursor: pointer;
}
.make-live-notification {
  font-size: 12px;
  margin-bottom: 10px;
  color: #d95347;
}
.logo-and-guest-login {text-align: center;display: flex;flex-direction: column;align-items: center;color: #203349;}

.logo-large {padding: 50px;}
.logged-out-overall-box {

}
.form-and-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hiw-number {
  border: 2px solid #d95347;
  padding: 3px 5px;
  border-radius: 15px;
}
